# Dependencies
node_modules
.pnpm-store
.npm

# Git
.git

# Editor configs
.vscode
.idea
*.swp

# System junk
.DS_Store
Thumbs.db

# Build & cache artifacts
dist
build
out
coverage
.next
.turbo
.cache

# Logs
*.log
pnpm-debug.log*
npm-debug.log*
