# Node modules
node_modules

# Build output
.next
out
build

# Environment files
.env*
!.env.example

# Logs
*.log

# Coverage directory
coverage

# Dependency directories
package-lock.json
pnpm-lock.yaml
yarn.lock

# Next.js specific folders
public/build
public/static

# Misc
.DS_Store
*.tgz

# Ignore local configuration
.vscode
.idea

# Ignore typescript cache
*.tsbuildinfo

# Convex
**/.convex/
